@media print
   {
    @page {
        size: A4;
    }

    body {
       font-size: 10pt;
    }

    a[href] {
      &:not(.nohref) {
        &:after {
         content: " (" attr(href) ")";
        }
      }
    }

    a[href]:after {
      content: "";
      }

    .section {
      margin-bottom: 0.1in; 
    }

    img.avatar {
      width: 200px;
      filter: grayscale(1);
      -webkit-filter: greyscale(1);
    }

   .main-wrapper .time {
       position: static;
       display: block;
       margin-top: 5px;
        color: black !important;
        -webkit-print-color-adjust: exact; 
   }
   
   .main-wrapper .section {
    margin-bottom: 30px;
  }

  .main-wrapper .section-title {
    margin-bottom: 10px;
  }

   .sidebar-wrapper {
        margin: 0;
        position: static;
        width: inherit;
        -webkit-print-color-adjust: exact; 

        .profile-container {
         padding: 7px;
         margin: 0;
        }

        .contact-container {
         padding-top: 15px;
         padding-bottom: 0;
         margin: 0;
         font-size: 8pt;
        }

        .skills-container {
         padding-top: 15px;
         padding-bottom: 0;
         margin: 0;
        }

        .pdf-container {
         display: none;
        }
        
        .interests-container {
         display: none;
        }

        .container-block {
         padding: 7px;
        }
    }

    .main-wrapper .upper-row {
      margin-bottom: 0;
    }

    .main-wrapper {
      padding: 7px;
    }

    .remove-container.container-block {
       display: none;
    }

    .cols {
	    white-space: nowrap;
      margin-bottom: 0.3in;
    }
    .col-item {
	    white-space: normal;	
	    display: inline-block;
	    width: 46%;
    	vertical-align: top;
    }
    .cols .col-item:first-child {
    	margin-right: 1%;
    }
    .col-item-text {
      text-align: left;
    }

    footer {
       display: none;
    }

    .skillset .level-bar-inner {
       background-color: black !important;
       -webkit-print-color-adjust: exact; 
    }

   .fa-inverse,
   .fa-inverse:after,
   .fa-inverse:before {
     color: #ffffff !important;
   }

}
